a {
  text-decoration: none;
}

body {
  margin: 0px; 
}

ul {
  margin: 0px;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.vcenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.csci134 {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 1400px;
  background-color: black;
  color: white
}

.csci134 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

/* Wide screens */
@media (min-width: 1100px) {
  .csci134 {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.csci134-textlink {
  font-weight: bold;
  color: #aa55aa
}

.csci134-textlink:hover {
  font-weight: bold;
  color: magenta;
}

.csci134-button {
  background-color: whitesmoke
}

.csci134-locked {
  background-color: lightgray
}

.csci134-button:hover {
  background-color: rgb(35, 205, 205)
}

.csci134-info {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: white
}

.csci134-info:hover {
  background-color: rgb(35, 205, 205);
  color: black;
}

.csci134-welcome {
  font-family: "Bangers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.welcome {
  height: 200px;
}

@media (max-width: 1009px) {
  .welcome {
    height: 400px;
  }
}

@media (max-width: 574px) {
  .welcome {
    height: 500px;
  }
}

@media (max-width: 498px) {
  .welcome {
    height: 750px;
  }
}

.csci134-colorblock {
  padding: 10px;
  padding-top: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.csci134-subtitle {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.csci134-question {
  font-family: "Matemasie";
  font-weight: 400;
  font-style: normal;
  color: crimson
}

.csci134-schedule-header {
  font-family: "Bangers";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.csci134-upcoming {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.csci134-course-number {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}
.csci134-text {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 670px) {
  .csci134-text {
    font-size: 12px;
  }
}

.csci134-lab-text {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

@media (max-width: 870px) {
  .csci134-lab-text {
    font-size: 26px;
  }
}

@media (max-width: 780px) {
  .csci134-lab-text {
    font-size: 22px;
  }
}

@media (max-width: 670px) {
  .csci134-lab-text {
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  .csci134-lab-text {
    font-size: 14px;
  }
}

